<html>
  <head></head>
  <body style="
    background-image: url('<%=param.certificate%>');
    background-repeat: no-repeat;background-attachment: fixed; background-size: 850px 650px;
    ">
    <div style="margin-top: 65px; margin-right: 25px; text-align: center;">
      <div style="text-align: center;">
        <br><br>
        <br><br>
        <br><br>
        <br><br>
        <br><br>
        <span style="font-size: 30px;"><b><%=param.fullname%></b></span>
        <br><br>
        <br><br>
        <br>
        <span style="font-size: 25px;"><i><%=param.course_name%></i></span>
        <br><br>
        <span style="font-size: 16px;"><i>Pada Tanggal</i></span>
        <br>
        <span style="font-size: 16px;"><u><%=param.created_at%></u></span>
      </div>
    </div>  
  </body>
</html>